trivy-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Run Trivy vulnerability scanner in filesystem mode and output in SARIF format
      - name: Run Trivy vulnerability scanner in filesystem mode
        uses: aquasecurity/trivy-action@b3dafe507ffa004210975439a1e6156b8ebb3f50
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'

      # Upload Trivy scan results to GitHub Security tab
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
